@font-face {
    font-family: 'Mori';
    src: url('fonts/PPMori-SemiBold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Morir';
    src: url('fonts/PPMori-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* Custom color palette */
:root {
    --grey-lightest: #f8f9fa; /* Lightest Grey */
    --grey-light: #dee2e6;    /* Light Grey */
    --grey-medium: #6d6e6c;   /* Medium Grey */
    --grey-dark: #141212;     /* Dark Grey */
    --cream: #d8c8c8;         /* Cream */
}

.bg-grey-lightest {
    background-color: var(--grey-lightest) !important;
}
.bg-grey-light {
    background-color: var(--grey-light) !important;
}
.bg-grey-medium {
    background-color: var(--grey-medium) !important;
}
.bg-grey-dark {
    background-color: var(--grey-dark) !important;
}
.bg-cream {
    background-color: var(--cream) !important;
}
h1, h2, h3, h4, h5, h6 {
    color: #db4c1f;
    font-family: 'Mori';
}
p,ul,ol{
    color: #ebedec;
    font-family: 'Mori';
}

a{
    color:#0080ff;
}
/* for lists in protein and covid19*/
.list-group-item{
    color: #ebedec;
    background: #141212;
}
/* the bottom three are for the buttons in the home page*/
.nav-item{
    color: #000;
    
}
.btn-primary{
    color: #000;
    font-family: 'Mori';
    background-color: #db4c1f;
    border-color: #000;
}
.btn-primary:hover{
    background-color: #000;
    border-color: #db4c1f;
    color: #db4c1f;
}
/*the bottom three are for the footer*/
.footer-nav {
    list-style: none; /* Remove bullet points */
    size: 10;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap; /* Wrap items for responsiveness */
    justify-content: center; /* Center align items */
    gap: 1.5rem; /* Add space between items */
}

.footer-nav .nav-item {
    font-family: 'Mori', sans-serif; /* Match the font of the navbar */
    padding: 0.5rem 1rem; /* Add spacing inside each name */
    border: 0px solid #000; /* Add a white border */
    border-radius: 5px; /* Optional: Rounded corners */
    transition: all 0.3s ease; /* Smooth hover effect */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 1rem;
    /* background-color: #ebedec; */
}

.footer-nav .nav-item:hover {
   
    color: #ebedec; /* Dark text on hover */
}
